* {
  box-sizing: border-box;
}

body {
  background-color: hsl(233, 47%, 7%);
  color: hsl(0, 0%, 100%);
}

h1 {
  color: white;
}
p {
  color: hsla(0, 0%, 100%, 0.75);
}

/****************** attribute section *********************/
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
